body {
    margin: 0;
    padding: 0;
    background: url(../imagenes/fashion-g1f9ab99d3_1920.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: auto;
    height: auto;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 13px;
    opacity: 80%;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(82, 82, 82);
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #9c5923;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    opacity: 90%;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: rgba(107, 58, 12, 0.467);
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(146, 76, 43);
}

.login-box a:hover {
    color: rgb(71, 71, 71);
}

.error{
    background-color: rgb(255, 94, 94);
    color: #000;
    padding: 10px;
    border: 5px;
    margin: 20px,;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}
