
#header {
    position: top;
    width: 100%;
    text-align: center;
    color: white;
    transition: .4s;
    background-color: #000;
}
#header:hover {
    background: rgba(255,255,255,0.8);
    color: #000;
    width: 100%;
    
}
#bienvenido{
    position: top;
    font-family: Moderne Sans, sans-serif;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    letter-spacing: .5rem;
}
#navegacion a {
    font-family: Moderne Sans, sans-serif;
    text-decoration: none;
    color: inherit;
    padding: 1rem;;
    font-weight: bold;
    margin-top: 30px;
}
